.listframe{
 display: flex;
 justify-content: center;
}
.listframe > div{
  padding: 2rem;

}
@media screen and (max-width: 800px) {
  .listframe {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
  }
}