@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.txt {
  font-family: 'Outfit', sans-serif;
  color: white;
  margin: auto;
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  
}