@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.ul {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Outfit', sans-serif;
  justify-content: right;
}

.li a {
  display: inline-flex;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  color: #FFF;
}

.li a:hover {
  background-color: rgba(0, 8, 91, 0.868);
}

@media only screen and (max-width: 600px){
  .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
}

/* @media only screen and (max-width: 600px) {
  .ul {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .li a {
    display: inline-flex;
    text-align: center;
    padding: 2vh 100vh;
    text-decoration: none;
    color: #FFF;
  }
  .li a:hover {
    background-color: rgba(0, 8, 91, 0.868);
  }
} */