@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

html {
  background: url(/Users/ishan/Desktop/React/portfolioweb/src/background_image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000236;
  margin: auto;
}

.myName {
  height: 80vh;
  display: flex;
  align-items: center;
  
}

.intro{
  font-size: 5rem;
  font-family: 'Outfit', sans-serif;
  color: rgba(255, 255, 255, 0.429);
  font-weight: bold;
  padding-left: 30px;
}

.name{
  font-family: 'Outfit', sans-serif;
  color: white;
}
